.header {
    height: 80px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 520px) {
    .header {
        justify-content: space-evenly;
    }
}