.contactsBlock {
    /*height: 250px;*/
    background-color: lightcoral;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contactsContainer {
    width: 80%;
    /*height: 100%;*/
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    border: 1px solid;
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.title {
    background-color: cornflowerblue;
}
input {
    margin-bottom: 10px;
}
textarea {
    height: 50px;
}