.contactsBlock {
    /*height: 250px;*/
    background-color: lightcoral;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contactsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.title {
    background-color: cornflowerblue;
}
input {
    margin-bottom: 10px;
}
textarea {
    height: 50px;
    margin-bottom: 10px;
}
.submitBtn {
    background-color: blueviolet;
    /*width: fit-content;*/
}
.form input, .form textarea {
    width: 100%;
}