.skillsBlock {
    height: 100vh;
    background-color: darksalmon;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skillsContainer {
    /*align-items: center;*/
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: coral;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 652px) {
    .skills {
        justify-content: center;
    }
}
