.skillsBlock {
    min-height: 100vh;
    background-color: darksalmon;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skillsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    /*justify-content: flex-start;*/
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    /*box-sizing: border-box;*/
}

.title {
    color: coral;
    background-color: lightcoral;
}

@media (max-width: 659px) {
    .skills {
        justify-content: center;
    }
}
