.mainBlock {
    height: 100vh;
    background-color: limegreen;
}

.text {
    width: 350px;
    background-color: gray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: coral;
}