.project {
    width: 250px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.projImg {
    height: 150px;
    width: 100%;
    background-image: url("https://avatars.mds.yandex.net/i?id=7af178b378f4cc3a508807ec21f7ed51f1c3b3ac-7946262-images-thumbs&n=13");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    text-decoration: none;
    background: darkorange;
    padding: 5px 20px;
}
.description {

}