.remoteBlock {
    /*height: 100px;*/
    background-color: darkgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}
.remoteContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
}
.title {
    color: brown;
}
