.projectsBlock {
    height: 100vh;
    background-color: cadetblue;
    padding-top: 20px;
}
.projectsContainerEdit {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    color: crimson;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}