.projectsBlock {
    height: 100vh;
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.projectsContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    color: crimson;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 655px) {
    .projects {
        justify-content: center;
    }
}


.container {

}

@media (max-width: 840px) {
    .container {
        justify-content: center;
    }
}