.projectsBlock {
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.projectsContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    margin-bottom: 30px;
    position: relative;
}
.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
}
.title::before {
    content: "";
    position: absolute;
    background-color: blue;
    width: 70px;
    height: 1px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.projects {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 776px) {
    .projects {
        justify-content: center;
    }
}
